* {
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  nav img {
    display: none;
    height: 25px;
  }

  nav h2 {
    font-family: "Inter", sans-serif;
    font-size: xx-large;
  }

  nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    position: fixed;
  }

  main {
    margin-top: 10px;
    background-image: url("images/bodybgbig.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

  .highligh-title {
    color: #36b37e;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 40px;
  }

  .main-header {
    color: #172b4d;
    font-size: 40px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .main-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
    list-style: none;
  }

  .about-me {
    margin-top: 5%;
    text-align: center;
    font-size: large;
    font-family: "Inter", sans-serif;
    margin-left: 3%;
    margin-right: 3%;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }
}

/* mobile version css starts here */

@media (max-width: 480px) {
  nav img {
    height: 25px;
  }

  nav a {
    text-decoration: none;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
  }

  nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
  }

  main {
    margin-top: 10px;
    background-image: url("images/bodybg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

  .highligh-title {
    color: #36b37e;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 40px;
  }

  .main-header {
    color: #172b4d;
    font-size: 40px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .main-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
    list-style: none;
  }

  .about-me {
    margin-top: 5%;
    text-align: center;
    font-size: large;
    font-family: "Inter", sans-serif;
    margin-left: 3%;
    margin-right: 3%;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }
}
